body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    background: rgb(1, 27, 9);
    background: radial-gradient(circle, rgba(1, 27, 9, 1) 0%, rgba(1, 51, 19, 1) 16%, rgba(1, 59, 22, 1) 21%, rgba(1, 82, 31, 1) 35%, rgba(0, 157, 61, 1) 63%, rgba(1, 37, 13, 1) 100%);
    background-repeat: no-repeat;
}

.card {
    height: 27rem;
    width: 22rem;
    background-color: #009d3d;
    margin-top: 6rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.foto {
    background-color: #156918;
    height: 10rem;
    width: 21rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.foto img {
    height: 100%;
    border-radius: 5rem;
    border: 2px ;
}