body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    background: rgb(1, 27, 9);
    background: radial-gradient(circle, rgba(1, 27, 9, 1) 0%, rgba(1, 51, 19, 1) 16%, rgba(1, 59, 22, 1) 21%, rgba(1, 82, 31, 1) 35%, rgba(0, 157, 61, 1) 63%, rgba(1, 37, 13, 1) 100%);
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    height: 30rem;
    background-color: #4caf50;
    margin-top: 6rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.foto {
    background-color: #156918;
    height: 12rem;
    width: 21rem;
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.foto img {
    height: 90%;
    border-radius: 5.5rem;
    margin-top: 0.2rem;
    border: 0.3rem solid #267328;
}

.card-body {
    margin-top: 1rem;
    text-align: center;
    color: white;
}

.controls {
    border: 3px solid darkgreen;
    border-radius: 0.5rem;
    margin: 0px 0.5rem 1rem 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btns {
    padding: 0.5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-btn {
    font-size: 3rem;
}

.time-btn {
    font-size: 2rem;
}

.foto img.rotating {
    animation: rotation 2s infinite linear;
    animation-play-state: paused;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}